<div class="panel panel-primary">
    <div class="panel-heading">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand"><b>Flight Lists</b></a>
        </nav>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>FlightNumber</th>
            <th>FlightName</th>
            <th>SeatCapacity</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights|async">
            <td>{{flight.flightNo}}</td>
            <td>{{flight.flightName}}</td>
            <td>{{flight.seatCapacity}}</td>
            <td>{{flight.departure}}</td>
            <td>{{flight.arrival}}</td>
            <td>{{flight.duration}}</td>
           
            <td>
                <button  class="btn btn-info" style="margin-left: 10px"><a routerLink="/login-user">Book Ticket</a></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  