<div class="row" style="height:80px">
  <nav class="navbar  .ms-auto justify-content-center" style="background-color: rgb(153, 215, 217);">
    <a class="navbar-brand"><b>Airline Management System</b></a>
   
    </nav>
</div>
  <div class="row">
    <div class="col-2" style="background-color: rgb(153, 215, 217); height: 640px;">
      <h3>Menu</h3>
  <a routerLink="/create-flight" ><div class="view">Add Flight</div></a><br>
  <a routerLink="/update-flight" ><div class="view">Update Flight</div></a><br>
  <a routerLink="/flight-list" ><div class="view">View All Flights</div></a><br>
 
 

</div>
    <div class="col">

<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand mb-0 h1">Add Flight</a>
    <button  class="btn btn-info" style="margin-left: 500px"><a routerLink="/admin-home">Home</a></button>
  </nav><br>
<div [hidden]="submitted" style="width: 400px; margin-left: auto; margin-right: auto;">
  <form (ngSubmit)="onSubmit()" id="myForm">
    <!--<div class="form-group">
      <label for="name">Flight Number</label>
      <input type="text" class="form-control" id="flightNo" required [(ngModel)]="flight.flightNo" name="flightNo">
    </div>-->
    <div class="form-group">
      <label for="name">Flight Number</label><br>
      <input type="text" placeholder="Flight Number" pattern="^\d{5}$" #flightNo="ngModel" [class.is-invalid]="flightNo.invalid && flightNo.touched" class="form-control" id="flightNo" required [(ngModel)]="flight.flightNo" name="flightNo">
      <small class="text-danger" [class.d-none]="flightNo.valid || flightNo.untouched">Number should contain 5 digits</small>
    </div><br>

    <div class="form-group">
      <label for="name">Flight Name</label><br>
      <input type="text" placeholder="Flight Name" #flightName="ngModel" [class.is-invalid]="flightName.invalid && flightName.touched" class="form-control" id="flightName" required [(ngModel)]="flight.flightName" name="flightName">
      <small class="text-danger" [class.d-none]="flightName.valid || flightName.untouched">Flight name is Required</small>
    </div><br>

    <div class="form-group">
        <label for="name">Seat Capacity</label><br>
        <input type="number" placeholder="Seat Capacity" #seatCapacity="ngModel" [class.is-invalid]="seatCapacity.invalid && seatCapacity.touched" class="form-control" id="seatCapacity" required [(ngModel)]="flight.seatCapacity" name="seatCapacity">
        <small class="text-danger" [class.d-none]="seatCapacity.valid || seatCapacity.untouched">Seat Capacity is Required</small>
    </div><br>

    <div class="form-group">
        <label for="name">Departure</label><br>
        <input type="text" placeholder="departure" #departure="ngModel" [class.is-invalid]="departure.invalid && departure.touched" class="form-control" id="departure" required [(ngModel)]="flight.departure" name="departure">
        <small class="text-danger" [class.d-none]="departure.valid || departure.untouched">Departure is Required</small>
      </div><br>

      <div class="form-group">
        <label for="name">Arrival</label><br>
        <input type="text" placeholder="arrival" #arrival="ngModel" [class.is-invalid]="arrival.invalid && arrival.touched" class="form-control" id="arrival" required [(ngModel)]="flight.arrival" name="arrival">
        <small class="text-danger" [class.d-none]="arrival.valid || arrival.untouched">Arrival is Required</small>
      </div><br>

      <div class="form-group">
        <label for="name">Duration</label><br>
        <input type="text" placeholder="duration" #duration="ngModel" [class.is-invalid]="duration.invalid && duration.touched" class="form-control" id="duration" required [(ngModel)]="flight.duration" name="duration">
        <small class="text-danger" [class.d-none]="duration.valid || duration.untouched">Duration is Required</small>
      </div><br>

    <button type="submit" class="btn btn-success">Submit</button>
    <div [hidden]="!submitted">
      <h5>Submitted successfully</h5>
       <!-- <button class="btn btn-success" (click)="newFlight()">Add</button> -->
     </div>
  </form>
 
</div>
</div></div>

