<div class="row" style="height:80px">
  <nav class="navbar  .ms-auto justify-content-center" style="background-color: rgb(153, 215, 217);">
    <a class="navbar-brand"><b>Airline Management System</b></a>
    </nav>
</div>
  <div class="row">
    <div class="col-2" style="background-color: rgb(153, 215, 217); height: 640px;">
      <h3>Menu</h3>
      <a routerLink="/home"><div class="view">Home</div></a><br>
  <a routerLink="/create-booking" ><div class="view" id="addbooking">Add Booking</div></a><br>
  <a routerLink="/update-booking" ><div class="view" id="updateBooking">Update Booking</div></a><br>
  <a routerLink="/booking-list" ><div class="view" id="booking-Booking">View Booking</div></a><br>
 
 

</div>
    <div class="col">
      <section class="background-radial-gradient overflow-hidden">
<nav class="navbar navbar-light .ms-auto justify-content-center" style="background-color: #e3f2fd;">
    <a class="navbar-brand "><b>Welcome to user Page</b></a></nav>
    <br>
    <br>
  
    
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </section>
</div>

</div>